/* layout tipo dashboard */
.private-layout {
  display: flex;
  height: 100vh;
  overflow: hidden; /* evita doble scroll */
}

app-sidebar {
  width: 250px;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
  background-color: #111111; /* o el fondo que uses */
}
